<footer class="footer">    
        <div class="container">
                <div class="section-menu">
                    <ul>           
                        <li><span style="font-size: 13px">Copyright &copy;  Deloitte Consulting India Pvt. Ltd. <a href="#myModal" class="btn" data-toggle="modal">Limitations &amp; Ongoing Enhancements</a></span>  </li>
                    </ul>            
                </div>
            </div>
        </footer>
        <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-md">
              
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Limitations &amp; Ongoing Enhancements</h4>
                      <br>
                      <p style="font-weight: bold;">Please read the limitations &amp; ongoing enhancements carefully before closing this section.</p>
                    </div>
                    <div class="modal-body">
                      <p>We hope you like this utility. For now it has capability to build only IN module on both DEV3 and DEV4 streams. We are in process of making this utility capable to build other modules as well. Your patience is highly appreciated.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </div>
              
                </div>
              </div>
              