<nav class="navbar navbar-expand-lg navbar-dark">
        
          <header id="header">
            <div class="inner">
                <span class="logo" style="font-weight: bold"><img style="width: 140px; height:55px;" src = "https://upload.wikimedia.org/wikipedia/commons/1/15/Deloitte_Logo.png"/>Build Your Code</span>
            </div>
        </header>
        
            <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/link" routerLinkActive="active">Links</a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/Contacts">Contacts</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>-->
        </nav>
        